<html xmlns:th="https://www.thymeleaf.org/">
<head>
  <title>Meteorologic Data Record</title>
</head>
<body>
  <h1 th:text="#{md.register.title}">Register record!</h1>
  <form  method="post" action="/meteorologicData/add"  th:object="${meteorologicData}" >
    <table>
      <tr>
          <td><label th:text="#{md.fecha}" >Fecha: </label></td>
          <td><input type="date" th:field="*{date}" /></td>
      </tr>
      <tr>
          <td><label th:text="#{md.location}">Lugar: </label></td>
          <td><select th:field ="*{location}">
              <th:block th:each="location: ${locationList}">
                  <option th:text="${location.city}" th:value="${location.id}"></option>
              </th:block>
          </select></td>
      </tr>
      <tr>
          <td><label th:text="#{md.temperature}">Temperatura: </label></td>
          <td><input type="text" th:field="*{temperature}" /></td>
      </tr>
      <tr>
        <td>
          <button th:text="#{md.submit} "type="submit">Record</button>
        </td>
      </tr>
    </table>
  </form>


</body>
</html>